*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: url(img.jpg)no-repeat center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.wrapper{
    display: flex;
    font-size: 18px;
    height: 100vh;
}
nav{
    margin: auto;
    padding: 3em 10em;
    background-color:rgba(150,150,150,0.153);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.205);
    border-radius: 1em;
    border: 1px solid rgba(255,255,255,0.21);

}
.nav-links{
    display: flex;
    gap: 2em; 
}
.nav-links li,.dropdown li{
    height: 100%;
    padding: 0.5em 1em;
    font-weight: 600;
    cursor: pointer;
}
a{
   color: white; 
}
.dropdown{
    position: absolute;
    padding: 1em 0.5em;
    margin: 0.6em -3em;
    color:white;
    background-color: rgba(0,0,0,0.44);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 12px rgba( 0,0,0,0.209);
    border-radius: 2em;
    display: none;

}
li{
    border-radius: 1em;
    transition: 0.3s ease;
}
li.hover{
    background-color: rgba(0,0,0,0.505);
}
li:hover .dropdown{
    display: block;

}
.dropdown-2{
    position: absolute;
    padding: 0.5em 0.5em;
    margin: -2.5em  12.2em;
    color: white;
    background-color: rgba(0,0,0,0.454);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.215);
    border-radius: 2em;
    display: none;
}
.dropdown li:nth-child(2):hover .dropdown-2{
    display: block;
}


